/* Keyframe animations */
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate(0, 24px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: system-ui;
    letter-spacing: 0.02rem;
}

/* General Settings */
a {
    text-decoration: none;
}

:root {
    --primary-site-margin: 0.7rem;
    --light-mode-primary: whitesmoke;
    --light-mode-border: #333;
    --light-mode-state-hover: black;
}

/* Sticker icon styling */
div.icons {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    z-index: -1;
}

div.icons img {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: spin 30s linear infinite;
    width: 32px;
    height: 32px;
}

/* Music button styling */
.music-container {
    position: relative;
}

.music-button {
    position: absolute;
    border: 1px solid black;
    padding: 1em;
    right: 0;
    transition: 0.5s ease;
}

.music-button:hover {
    color: white;
    background-color: #0E103D;
    transition: 0.5s ease;
}

/* Header styling */
header.main-header {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header.main-header img {
    animation: fadein 0.4s 0.5s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
}

header.main-header p {
    animation: fadein 0.4s 1s both;
}

/* Filter nav styling */
nav.nav-filter {
    margin: var(--primary-site-margin);
    text-align: center;
}

nav.nav-filter>button {
    outline: 0;
    border: 1px solid var(--light-mode-border);
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: var(--light-mode-primary);
    font-size: 1rem;
    border-radius: 0.333rem;
    margin: 0.333rem;
}

nav.nav-filter>button:hover {
    cursor: pointer;
    background-color: var(--light-mode-state-hover);
    color: var(--light-mode-primary);
}

/* Active class actived in JS to change button colors on click*/
button.btn.active {
    background-color: var(--light-mode-state-hover);
    color: var(--light-mode-primary);
}

/* Main styling */
main section.story-grid {
    display: flex;
    justify-content: space-around;
}

/* Article styling */
main.main section article {
    min-height: 240px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    transition: opacity 500ms ease;
}

main.main section article p {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 200px;
    margin-left: 150px;
}

main.main section article.art {
    position: relative;
}

main.main section article.art a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}

main.main section article a {
    color: var(--light-mode-primary);
    font-size: 1.7rem;
}

main.main section article:hover {
    opacity: 0.8;
    cursor: pointer;
}

main.main section article h1 {
    font-size: 2.1vw;
}

article.art {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

section.story-grid article:nth-child(1) {
    background-color: #223389;
    background-image: url(/assets/icons/mountain.svg);
}

section.story-grid article:nth-child(2) {
    background-color: #9d4edd;
    background-image: url(/assets/icons/skull.svg);
}

section.story-grid article:nth-child(3) {
    background-color: #2541B2;
    background-image: url(/assets/icons/robot.svg);
}

section.story-grid article:nth-child(4) {
    background-color: #80002a;
    background-image: url(/assets/icons/cat.svg);
}

/* General Book UI ********************************/
main.main-book {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    background-color: var(--light-mode-primary);
}

h1.story-title {
    font-size: clamp(2rem, 4vw + 1rem, 2.7rem);
    text-align: center;
}

/* Book */
article.book {
    position: relative;
    width: 350px;
    min-height: 500px;
    transition: transform 0.5s cubic-bezier(0.39, 0.57, 0.56, 1);
    will-change: transform;
    font-size: clamp(1.5rem, 4vw + 0.5rem, 2rem);
}

section.paper {
    position: absolute;
    inset: 0;
    perspective: 1500px;
}

label {
    font-size: clamp(1rem, 4vw, 2rem);
}

.front,
.back {
    background-color: gainsboro;
    position: absolute;
    inset: 0;
    transform-origin: left;
    transition: transform 0.5s;
    padding: 1.77rem;
}

div.front {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-left: 2px double #333;
}

div.back {
    z-index: 0;
    border-left: 5px dotted black;
}

div.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

div.back-content {
    transform: rotateY(180deg);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

button:focus {
    outline: none;
}

button:hover i {
    background-color: transparent;
}

i {
    font-size: clamp(2rem, 4vw + 0.5rem, 2.3rem);
    color: #333;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

button.submit-btn {
    border: 1px solid black;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    font-size: 1.2rem;
    background-color: var(--light-mode-primary);
}

footer.book-footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    padding: 1rem;
}

footer.book-footer a {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: #333;
    font-family: system-ui;
}

/* Paper flipped effect activated with J.S. */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Story Modal **********************************************/
section.story-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    min-width: 60%;
    padding: 1.7rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: snow;
    transition: opacity 500ms ease;
    box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    opacity: 0;
}

/* J.S. actived classes */
section.story-modal.active {
    z-index: 10;
    opacity: 1;
}

article.book.unactive {
    z-index: 0;
    opacity: 0;
}

/* Create p element in J.S.  */
section.story-modal p.story-p {
    font-size: clamp(1.3rem, 2vw + 0.5rem, 1rem);
    line-height: 1.4;
    padding: 0.7rem;
    color: #333;
}

section.story-modal div.button-div {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

button.m-btn {
    opacity: 0;
    transition: opacity 0.5s ease;
}

button.m-btn.active {
    opacity: 1;
}

div.button-div button.pdf-btn,
button.restart-btn {
    border: 2px solid #333;
    padding: 0.33rem 1rem 0.33rem 1rem;
}

section.mobile-buttons {
    opacity: 0;
}

/* Responsive Design */

@media (max-width:780px) {
    main.main section.story-grid {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main.main section article {
        width: 250px;
        height: 150px;
        margin: 1em 0 1em;
    }

    header.main-header img {
        width: 80%;
    }
    

    section.story-modal {
    width: 90%;
}

    section.story-modal {
        flex-direction: column;
        padding: 0.7rem;
    }

    section.story-modal div.button-div {
        margin-top: 0rem;
    }

    body {
        max-width: 100%;
    }

    main.main-book {
        overflow-y: hidden;
        padding: 3rem;
        overflow-x: hidden;
    }

    .book h1 {
        font-size: 1.33rem;
    }

    .book h3 {
        font-size: 1.1rem;
    }

    i {
        opacity: 0;
    }

    input[type="text"] {
        padding: 0.33rem;
        font-size: 0.7rem;
        width: 100%;
    }

    article.book {
        min-height: 500px;
        width: 100%;
        max-width: 400px;
    }

    button.submit-btn {
        padding: 0.4rem 1.2rem 0.4rem 1.2rem;
        font-size: 1rem;
    }

    section.mobile-buttons {
        box-shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        background-color: whitesmoke;
        height: 40px;
        border-left: 5px solid black;
        position: absolute;
        left: -50%;
        z-index: 100;
        display: flex;
        justify-content: space-around;
        width: 100%;
        opacity: 1;
    }
}
/*parts of speech */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 2rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 30%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

