@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate(0, 24px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: system-ui;
    letter-spacing: 0.02rem;
}

/* General Settings */
a {
    text-decoration: none;
}

:root {
    --primary-site-margin: 0.7rem;
    --light-mode-primary: whitesmoke;
    --light-mode-border: #333;
    --light-mode-state-hover: black;
}

/* Music button styling */
.music-container {
    position: relative;
}

.music-button {
    position: absolute;
    border: 1px solid black;
    padding: 1em;
    right: 0;
    transition: 0.5s ease;
}

.music-button:hover {
    color: white;
    background-color: #0E103D;
    transition: 0.5s ease;
}

/* Header styling */
header.main-header {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header.main-header img {
    animation: fadein 0.4s 0.5s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
}

header.main-header p {
    animation: fadein 0.4s 1s both;
}

/* Filter nav styling */
nav.nav-filter {
    margin: var(--primary-site-margin);
    text-align: center;
}

nav.nav-filter>button {
    outline: 0;
    border: 1px solid var(--light-mode-border);
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: var(--light-mode-primary);
    font-size: 1rem;
    border-radius: 3px;
    margin: 0.333rem;
}

nav.nav-filter>button:hover {
    cursor: pointer;
    background-color: var(--light-mode-state-hover);
    color: var(--light-mode-primary);
}

/* Active class actived in JS to change button colors on click*/
button.btn.active {
    background-color: var(--light-mode-state-hover);
    color: var(--light-mode-primary);
}

/* Main styling */
main section.story-grid {
    display: flex;
    justify-content: space-around;
}

/* Article styling */
main.main section article {
    min-height: 240px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    transition: opacity 500ms ease;
}

main.main section article p {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 200px;
    margin-left: 150px;
}

main.main section article.art {
    position: relative;
}

main.main section article.art a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}

main.main section article a {
    color: var(--light-mode-primary);
    font-size: 1.7rem;
}

main.main section article:hover {
    opacity: 0.8;
    cursor: pointer;
}

main.main section article h1 {
    font-size: 2.1vw;
}

section.story-grid article:nth-child(1) {
    background-color: #223389;
}

section.story-grid article:nth-child(2) {
    background-color: #9d4edd;
}

section.story-grid article:nth-child(3) {
    background-color: #2541B2;
}

section.story-grid article:nth-child(4) {
    background-color: #F55D3E;
}

/* General Book UI ********************************/
main.main-book {
    height: 100vh;
    display: flex;
    font-size: 1.7rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    background-color: var(--light-mode-primary);
}

h1.story-title {
    font-size: 2.6rem;
    text-align: center;
}

/* Book */
article.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
    will-change: tran;
}

section.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    /* 3d perspective */
}

.front,
.back {
    background-color: gainsboro;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    padding: 2rem;
}

div.front {
    z-index: 1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-left: 2px double #333;
}

div.back {
    z-index: 0;
    border-left: 5px dotted black;
}

div.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

div.back-content {
    transform: rotateY(180deg);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

button:focus {
    outline: none;
}

button:hover i {
    background-color: transparent;
}

i {
    font-size: 50px;
    color: #333;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
}

button.submit-btn {
    border: 1px solid black;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    font-size: 1.5rem;
    background-color: var(--light-mode-primary);
}

footer.book-footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    padding: 1rem;
}

footer.book-footer a {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    color: #333;
    font-family: system-ui;
}

/* Paper flipped effect activated with J.S. */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Story Modal **********************************************/
section.story-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    min-height: 360px;
    padding: 1.7rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: whitesmoke;
    transition: opacity 700ms ease-in;
    opacity: 0;
}

/* J.S. actived classes */
section.story-modal.active {
    z-index: 100;
    opacity: 1;
}

article.book.unactive {
    z-index: -1;
    opacity: 0;
}

/* Create p element in J.S.  */
section.story-modal p.story-p {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0.7rem;
    color: #333;
}

section.story-modal div.button-div {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

button.m-btn {
    opacity: 0;
    transition: opacity 0.8s ease;
}

button.m-btn.active {
    opacity: 1;
}

div.button-div button.pdf-btn,
button.restart-btn {
    border: 2px solid #333;
    padding: 0.33rem 1rem 0.33rem 1rem;
}